#barpage header {
  margin: 1rem;
  /*display:grid;
    grid-template-columns: 1fr 1fr;*/
}

#barpage img {
  max-width: 100%;
  height: auto;
  padding: none;
  margin: none;
}

#barpage {
  background-color: black;
  color: white;
}

#barpage .rating {
  font-size: 2rem;
}

#barpage a:link {
  color: white;
  font-family: "orpheuspro", sans-serif;
}

#barpage a:visited {
  color: white;
}

#barpage a:hover {
  color: orangered;
}

#barpage a:active {
  color: orangered;
}
