/* FONTS - NAME ETC 

THE SANS SERIF FONT IN DIFFERENT WEIGHTS-
REGULAR-
font-family: roc-grotesk, sans-serif;
font-weight: 400;
font-style: normal;

LIGHT-
font-family: roc-grotesk, sans-serif;
font-weight: 300;
font-style: normal;

BOLD-
font-family: roc-grotesk, sans-serif;
font-weight: 600;
font-style: normal;

SERIF FONT
font-family: orpheuspro, serif;
font-weight: 400;
font-style: italic;

*/
